# API Settings
DEBUG=true
API_PREFIX=/api/v1

# Redis Connection
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
CACHE_TTL=600

# Concurrency Settings
MAX_WORKERS=4

# Media Paths
MEDIA_DIR=app/media
OUTPUT_DIR=app/media/output
FONT_PATH=JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w0aXp-p7K4KLjztg.ttf
DEFAULT_BG_IMAGE=app/media/default_bg.jpg

# Web Scraping
SCIENCE_NEWS_URL=https://www.sciencenews.org/